/* MEDIA QUERIES */

// Extra small devices (portrait phones, less than 576px)
// No media query since this is the default in Bootstrap

// Small devices (landscape phones, 576px and down)
@media (max-width: 576px)

	#heading-text
		h1
			font-size: 1.8rem

	#gallery
		height: 510px
		width: 100%

	.boxes
		width: 125px
		margin: 10px
		display: block

	footer
		height: 120px

	#footer-wrapper
		display: flex
		flex-direction: column
		justify-content: center
		align-items: center
		margin: 0 auto
		position: relative
		top: 0
		max-height: 100%





// Medium devices (tablets, 768px and down)
@media (max-width: 768px)

	#section-two
		flex-direction: column
	#about
		display: block
	#section-three
		height: 400px
		h1
			margin-bottom: 0
		.slick-track
			margin-top: -35px

	#footer-wrapper
		margin-top: 25px

	#section-four
		margin-bottom: 150px
